<h1>Stupid Coaching</h1>
<div class="banner">
  <h2><%= "#{@question}" %></h2>
  <p>- You</p>
</div>
<div class="banner">
  <h2><%= "Answer: #{@answer}" %></h2>
  <p>- Your Coach</p>
</div>
<%= link_to 'Ask a new question', ask_path  %>
